<div class="footer-row-1">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h4 class="title">Schule Ettiswil</h4>
                    Dorf 21<br>
                    6218 Ettiswil<br>
                    Tel. Lehrerzimmer:<br>
                    041 984 13 50
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <h4 class="title">Schulleitung:</h4>
                    {{ insert_tag('email_open::gesamtschulleitung@schule-ettiswil.ch')|raw }}Kontakt{{ insert_tag('email_close')|raw }}<br>
                    041 984 13 51
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <h4 class="title">Quicklinks</h4>
                    {{ insert_tag('insert_module::99')|raw }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyright-box footer-row-2">
    <div class="footer-container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <div>Copyright © {{ 'now'|date('Y') }} Schule Ettiswil</div>
            </div>
            <div class="navigation-footer">
                <div>{{ insert_tag('link::impressum')|raw }}</div>
            </div>
        </div>
    </div>
</div>
