{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{% set grid_classes_col_1 = 'col-12' %}
{% set grid_classes_col_2 = 'col-12' %}

{% if has_image %}
    {% set grid_classes_col_1 = 'col-9' %}
    {% set grid_classes_col_2 = 'col-3' %}
{% endif %}

{% block content %}
    <div class="row">
        <div class="{{ grid_classes_col_1 }}">
            <div class="cte-team_member--name"><h3 class="mt-0">{{ firstname }} {{ lastname }}</h3></div>

            {% if roles|default %}
                <div class="cte-team_member--roles mt-4">
                    <p class="m-0"><strong>Zuständigkeit:</strong></p>
                    <ul class="cte-team_member--roles-list">
                        {% for role in roles %}
                            <li class="cte-team_member--roles-list-item d-flex"><i class="fa-regular fa-check-double me-2"></i><span>{{ role }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if working_time|default %}
                <div class="cte-team_member--working-time mt-4">
                    <p class="m-0"><strong>Bürozeit:</strong></p>
                    <ul class="cte-team_member--working-time-list">
                        {% for item in working_time %}
                            <li class="cte-team_member--working-time-list-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <address class="cte-team_member--address mt-4">
                {% if email|default %}
                    <div class="cte-team_member--email"><i class="fa-regular fa-envelope fa-fw me-2"></i><a href="mailto:{{ email }}">{{ email }}</a></div>
                {% endif %}

                {% if phone|default %}
                    <div class="cte-team_member--phone"><i class="fa-regular fa-phone fa-fw me-2"></i><a href="tel:{{ phone|replace({' ': ''}) }}">{{ phone }}</a></div>
                {% endif %}
            </address>
        </div>

        {% if has_image|default %}
            <div class="{{ grid_classes_col_2 }}">
                <div class="cte-team_member--picture">
                    {% with {figure: images|first} %}{{ block('figure_component') }}{% endwith %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
