<script type="text/javascript" src="{{ asset('js/script.js','markocupic_contao_sidebar_navigation') }}"></script>

{{ addCssResource(asset('css/style.css','markocupic_contao_sidebar_navigation')) }}

<!-- indexer::stop -->

<div class="sidebar-top-container d-flex align-items-center ps-3 pe-3 pt-4 pb-4">

    <h3 class="sidebar-title text-uppercase flex-grow-1 m-0 me-3">Navigation</h3>

    {# Hide sidebar button #}
    <div class="sidebar-navigation-toggler navigation-toggler cursor-pointer" title="Navigation schliessen" role="button">
        <i class="fa-thin fa-2x fa-xmark-large"></i>
        <span class="sr-only">Navigation</span>
    </div>
</div>

{% set classes = ['sidebar-navigation' , 'block'] %}
{% if class|default('') %}
    {% set classes = classes|merge(class|split(' ')) %}
{% endif %}
{% set class = classes|join(' ') %}

<nav class="{{ class }}" id="navAside">
    {% if headline is defined and headline is not empty %}
    <{{ hl }}>{{ headline }}</{{ hl }}>
{% endif %}

<a href="{{ request }}#{{ skipId }}" class="invisible">{{ skipNavigation }}</a>
{{ items|raw }}
<a id="{{ skipId }}" class="invisible">&nbsp;</a>
</nav>
<!-- Sidebar toggle script -->
<script>
    const currentScript = document.currentScript;
    const nav = currentScript.parentElement.querySelector(':scope > nav');

    window.addEventListener('DOMContentLoaded', (event) => {
        if (ContaoSidebarNavigation) {
            new ContaoSidebarNavigation(nav, {
                'submenuContainerClass': '.submenu',
                'pageContainerClass': '.page-container', // Not-clickable links
                'followPageContainerLinks': false, // Follow not-clickable links
                'dropdownTogglerHtml': '<button class="toggle-submenu" role="button"></button>',
                'dropdownTogglerPosition': 'after', // 'before' or 'after'
            });
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let sidebarOverlay = document.createElement("div");
        sidebarOverlay.id = "sidebarOverlay";
        document.body.prepend(sidebarOverlay);

        document.querySelectorAll(".navigation-toggler, #sidebarOverlay").forEach(element => {
            element.addEventListener("click", function () {
                document.body.classList.toggle("sidebar-open");

                if (document.body.classList.contains("sidebar-open")) {
                    document.getElementById("sidebar").style.visibility = "visible";
                } else {
                    setTimeout(function () {
                        document.getElementById("sidebar").style.visibility = "hidden";
                    }, 600);
                }
            });
        });
    });
</script>
<!-- Suchformular -->
<div class="sidebar-search-form mt-5 ms-3 me-3">{{ '{{insert_module::185}}'|raw }}</div>
<!-- indexer::continue -->