<div class="header-row-1">
    <div class="header-container">

        <div class="d-flex align-items-end pt-3 pt-md-4 pt-xl-5 pb-3 pb-md-4 pb-xl-5">

            <div class="header-logo">
                <div class="me-4">
                    <a href="" title="Startseite">
                        <div class="d-none d-block-xl">{{ '{{image::files/themes/theme-caribbean-blue/images/logos/Logo.jpg?height=100px&width=auto&class=logo-header&alt=Logo}}'|raw }}</div>
                        <div class="d-block d-none-xl">{{ '{{image::files/themes/theme-caribbean-blue/images/logos/Logo.jpg?height=80px&width=auto&class=logo-header&alt=Logo}}'|raw }}</div>
                    </a>
                </div>
            </div>

            <div class="header-title flex-grow-1">
                <div class="me-2">
                    <h1 class="m-0">Schule Ettiswil</h1>
                </div>
            </div>

            <div class="d-none d-lg-block me-4 header-search-form">
                <a class="btn btn-lg" title="suchen" href="{{ '{{link_url::suche}}' }}"><i class="fal fa-1.5x fa-search"></i></a>
            </div>

            {% if has_logged_in_frontend_user() %}
                <div class="header-avatar d-none d-lg-block me-4">
                    {{ '{{link_open::benutzerprofil}}'|raw }}{{ '{{image::files/themes/theme-caribbean-blue/images/avatar.png?width=40&height=40&class=rounded-circle}}'|raw }}{{ '{{link_close}}'|raw }}
                </div>
                <div class="header-username d-none d-lg-block me-2">
                    <span class="btn btn-dark">{{ '{{link_open::benutzerprofil}}'|raw }}<span style="color: #fff;text-decoration: none;">{{ '{{user::firstname|strtoupper}}' }}</span>{{ '{{link_close}}'|raw }}</span>
                </div>
            {% endif %}

            <div class="header-button-container d-none d-lg-block">
                <div>
                    {% if has_logged_in_frontend_user() %}
                        <a href="{{ '{{link_url::anmelden}}' }}" role="button" class="btn btn-lg btn-outline-danger">Abmelden</a>
                    {% else %}
                        <a href="{{ '{{link_url::anmelden}}' }}" role="button" class="btn btn-lg btn-outline-danger">{{ '{{link_name::anmelden}}' }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="header-navigation-toggle-container d-block d-lg-none">
                <!-- Navbar toggler mobile -->
                <button class="navigation-toggler"><i class="far fa-bars" title="Navigation öffnen"></i></button>
                <!-- End Navbar toggler mobile -->
            </div>
        </div>
    </div>

</div>

<!-- NAVBAR-START -->
<div class="header-row-2 navbar-header">
    <div class="header-container">{{ '{{insert_module::179}}'|raw }}</div>
</div>
<!-- NAVBAR-END -->
